<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Net.Compilers" version="3.2.0-beta3-final" targetFramework="net461" developmentDependency="true" />
  <package id="Mono.Cecil" version="0.10.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>